/* Base Styles */
#eventCalendar {
    width: 100%;
    margin: 20px auto;
    padding: 0px;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

/* Event Entry Styling */
.event-entry {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
}

/* Event Date Container */
.event-date-container {
    margin-right: 20px; /* Adjusted for space between date and details */
}

/* Event Date */
.event-entry .event-date {
    font-size: 1.25em;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
}

/* Event Details Container */
.event-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 100px;
}

/* Event Title */
.event-details-container .event-title {
    color: #0277bd;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

/* Event Location */
.event-details-container .event-location {
    color: #393939;
    font-size: 1.1em;
    margin: 5px 0 0 0;
}

/* Event Series and Points Container */
.event-series-points-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align to the right */
    justify-content: center;
    padding-right: 50px; /* Padding from right edge */
}

/* Event Series */
.event-series-points-container .event-series {  
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Event Status */
.event-status-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align to the right */
    justify-content: center;
    padding-right: 50px; /* Padding from right edge */
}

/* Event Status */
.event-status-container .event-status {
    background-color: #c8e6c9;
    color: #388e3c;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .event-entry {
        flex-direction: column;
        align-items: flex-start;
    }

    .event-series-points-container {
        align-items: flex-start; /* Align left on smaller screens */
    }
}

@media (max-width: 480px) {
    .event-date {
        font-size: 0.9em;
    }

    .event-details-container .event-title {
        font-size: 1.2em;
    }

    .event-details-container .event-location {
        font-size: 1em;
    }

    .event-series-points-container .event-series,
    .event-series-points-container .event-status {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}
